{
    # Global options
    admin off
}

# Admin panel
panel.{$DOMAIN} {
    reverse_proxy admin-panel:3001
}

# API
api.{$DOMAIN} {
    reverse_proxy backend:3000
}

# Client site
{$DOMAIN} {
    reverse_proxy client-site:3002
}

# Sub-link
sub.{$DOMAIN} {
    reverse_proxy backend:3000
}
